.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --main-font: 'IBM Plex Mono', sans-serif;
  --background-image: url(../images/cover-image-dark.png);
  --title-decor: #ff0070;
  --main-text-color: #ff0070;
  --hover-color: color-mix(in srgb, #FF0070 40%, transparent);
}

.theme_dark .decorative-icon {
  display: block;
}

