.page.theme_light {
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --header-color: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --title-decor: #FF8DCB;
  --main-text-color: #353430;
  --hover-color: color-mix(in srgb, #353430 40%, transparent);
  --big-resolution-shadow: #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --header-color: #FFC2E6;
    --background-image: url(../images/cover-image-light.png);
    --title-decor: #FF8DCB;
    --main-text-color: #353430;
    --hover-color: color-mix(in srgb, #353430 40%, transparent);
    --big-resolution-shadow: #ff0070;
    }
    .decorative-icon {
      display: none;
    }
  }

.theme_light .decorative-icon {
  display: none;
}



